@charset 'utf-8';

*{ margin: 0; padding: 0}
img{ max-width: 100%;}
li{ list-style: none;}
/**********Top************/

.l-header{
	display: flex;
	@media screen and ( max-width: 736px){
		display:block;
	}
}

.c-Hleft{
	width: 58%;
	background-color: #fe2;
	@media screen and ( max-width: 736px){
		width: 100%;
	}
	img{
		width:100%;
		height: 100%;
	}
}

.c-Hright{
	width: 42%;
	background: url(../img/bg_01.png) no-repeat top center;
	background-size: cover;
	@media screen and ( max-width: 736px){
		width: 100%;
		background-size: none;
	}
}

.c-slider{
	width: 82%;
	margin-left: 9%;
	margin-right: 9%;
	margin-top: 27%;
	@media screen and ( max-width: 736px){
		margin-top:-10%;
		padding-top: 24%;
	}
}
.slick-slider{
	margin-bottom: 0 !important;
}

.slick-list{
	border: 1px solid 
}

.slick-prev{
	width: 5% !important;
	height: 7% !important;
	left: -8% !important;
	&:before{
		content: "" !important;
	}
}

.slick-next{
	width: 5% !important;
	height: 7% !important;
	right: -8% !important;
	&:before{
		content: "" !important;
	}
}

.c-banner{
	width: 84%;
	margin: 0 auto;
	@media screen and ( max-width: 736px){
		padding-bottom: 50px;
	}
	img:nth-child(1){
		margin-top: 6%;
		// margin-left: 2%;
		margin-bottom: 4%;
		width: 100%;
	}
	img:nth-child(2){
		margin-right: 1%;
		width: 49%;
		float: left;
	}
	img:nth-child(3){
		width: 49%;
	}
}
/**********Content*********/

.content{
	width:100%;
	overflow: hidden;
	background: url(../img/bg_03.png) no-repeat;
	background-size: cover;
	position: relative;
	// top: -5px;
	&::before{
		width:100%;
		height:18px;
		position:absolute;
		content:"";
		background:url(../img/border_01.png) no-repeat center top;
		background-size: cover;
		top: -8px;
	}
	ul{
		width: 95%;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		@media screen and ( max-width: 736px){
			width: 100%;
		}
	}
	li{
		float: left;
		width: 47%;
		@media screen and ( max-width: 736px){
			width: 100%;
			float: none;
		}
		&:nth-child(2n+1){
			margin-right: 2%;
			margin-bottom: 6%;
			@media screen and ( max-width: 736px){
				margin: 0;
				margin-bottom: 0%;
			}
		}
		&:nth-child(n){
			margin-left: 2%;
			float: right;
			@media screen and ( max-width: 736px){
				margin: 0;
				margin-bottom: 40px;
			}
		}


	}
}
h1{
	img{
		display: block;
		margin: 60px auto;
		@media screen and ( max-width: 736px){
			width: 60%;	
		}
	}
}

.c-line{
	overflow: hidden;
	width: 100%;
	h2{
		img{
			@media screen and ( max-width: 736px){
				width: 98%;
				display: block;
				margin: 0 auto;
			}
		}
	}
	&__content{
		width: 100%;
		overflow: hidden;
		display: flex;
	}
	&__left{
		width: 56%;
	}
	&__right{
		width: 44%;
		background-color: #000;
		position: relative;
		p{
			width: 90%;
			color: #fff;
			margin: 10% auto;
			display: block;
			line-height: 1.45rem;
			font-size: 1vw;
			font-weight: bold;
			@media screen and (max-width: 736px){
				font-size: 2.5vw;
				line-height: 1rem;
			}
		}
		span{
			color: #f00;
		}
	}
}

.c-line2{
	@extend .c-line;
}

.c-line3{
	@extend .c-line;
	margin-top: 0;
	margin-bottom: 120px;
	@media screen and ( max-width: 736px){
		margin: 0;
	}
}

.c-line4{
	@extend .c-line;
	margin-top: 0;
	margin-bottom: 120px;
	@media screen and ( max-width: 736px){
		margin: 0;
		margin-bottom: 60px;
	}
}

.action{
	background: none;
	border: 1px solid #f00;
	color: #fff;
	padding: 2% 25%;
	font-weight: bold;
	font-size: 1.2vw;
	text-align: center;
	position: absolute;
	bottom: 7%;
	left: 5%;
	@media screen and ( max-width: 736px){
		font-size: 2.5vw;
	}
}

/**********Footer***********/

.l-footer{
	position: relative;
	&::before{
		width:100%;
		height:18px;
		position:absolute;
		content:"";
		background:url(../img/border_02.png) no-repeat center top;
		background-size: cover;
		top:-10px;
	}
}

.footer_banner{
	display: flex;
	background: url(../img/bg_04.png) no-repeat center top;
	background-size: cover;
	// top: -20px;
	padding-top: 6%;
	padding-bottom: 6%;
	padding-left: 2%;
	padding-right: 2%;
	ul{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	li{
		width: 23%;
		margin-right: 1%;
		&:nth-child(1){
			margin-left: 3%;
		}
		@media screen and ( max-width: 736px){
			width: 47%;
			margin-right: 1%;
			&:nth-child(4){
				margin-left: 1%;
			}
			&:nth-child(3){
				margin-left: 2%;
			}
			&:nth-child(2){
				margin-left: 1%;
				margin-bottom: 1%;
			}
			&:nth-child(1){
				margin-left: 2%;
			}
		}
	}
}

.footer_logo{
	width: 100%;
	background-color: #100f0f;
	padding: 2% 0;
	img{
		display: block;
		margin: 0 auto;
		@media screen and (max-width: 736px){
			width: 60%;
			
		}
	}
}